<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <script src="/js/script.js" defer></script>
    <title>404: This is not the page you're looking for!</title>
</head>

<body>
    {{>header}}
    <h1 id="four-oh-four">404: Not found!</h1>
    <img class="four-o-four" alt="404: This is not the page you're looking for" src="/img/404.jpg">
    <br>
    <h2>{{notFound}}</h2>
    {{>footer}}
</body>

</html>