<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    <script src="/js/script.js" defer>
    </script>
    <title>The about -page</title>
</head>

<body>
    {{>header}}
    <img alt="Ville" src="/img/ville.jpg">
    <p>{{aboutText}}</p>
    {{>footer}}
</body>

</html>